<%= provide :title, @note.title %>

<div class="note-container">
  <header class="title">
    <%= @note.title %>
  </header>
  <article class="content">
    <%= markdown @note.content %>
  </article>
  
  <%= render 'user_documents/show_actions.html.erb', document: @note %>
</div>
