<h3>Hi <%= @user.username %></h3>

<p>We've heard that You've forgotten Your password.
That's no problem, just click the link below to change
your password.</p>

<%= link_to "Reset my password", edit_password_reset_url(
                                 @user.reset_token, email: @user.email) %>

<p>If You don't want to reset the password, ignore this message.
The reset link will expire in 24 hours.</p>

<p>If You want to reset the password but the link has expired,
go to the following page to get new one.</p>

<%= link_to "Get new reset link", new_password_reset_url %>