<section id="hero">
  <div id="signup-box">
    <h1>Make notes wherever you are!</h1>
    <a href="#" class="button">Sign Up Now</a>
  </div>
</section>

<section id="features">
  <div class="feature">
    <div class="icon-img">
      <i class="fa fa-desktop"></i>
      <i class="fa fa-laptop"></i>
      <i class="fa fa-tablet"></i>
      <i class="fa fa-mobile"></i>
    </div>
    <h3>Use in every place</h3>
  </div>
  <div class="feature">
    <div class="icon-img">
      <i class="fa fa-pencil-square"></i>
      <i class="fa fa-check-square"></i>
    </div>
    <h3>Create notes, checklists and more</h3>
  </div>
  <div class="feature">
    <div class="icon-img">
      <i class="fa fa-users"></i>
    </div>
    <h3>Share with friends</h3>
  </div>
</section>