<div class="link">
  <div class="name">
    <%= link_to linkset_link.name, linkset_link.url, target: "_blank",
                                                     rel: "nofollow" %>
  </div>
  <div class="description"><%= linkset_link.description %></div>
</div>
