#hero {
  width: 100%;
  padding: 10%;
  background-image: image-url("hero.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  #signup-box {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 1em;
    text-align: center;
    color: $white;
    background-color: transparentize($dark, 0.6);
    @include border-radius(5px);
  }
}

#features {
  @extend .clearfix;
  box-shadow: 0 -5px 10px $dark;
  padding: 2em 8%;
  .feature {
    @extend .clearfix;
    float: left;
    margin-left: 5%;
    padding: 1%;
    width: 30%;
    text-align: center;
    @include border-radius(5px);
    .icon-img {
      font-size: 5em;
      display: block;
    }
    h3 {
      color: $white;
    }
    &:first-of-type {
      margin-left: 0;
      background-color: $green;
      .icon-img {
        font-size: 4em;
      }
    }
    &:nth-of-type(2) { background-color: $red; }
    &:nth-of-type(3) { background-color: $blue; }
  }
}

/* Responsiveness */

@media screen and (max-width: 750px) {
  #features .feature {
    width: 100%;
    margin-left: 0;
    margin-bottom: 2em;
  }
  #hero #signup-box {
    width: 90%;
  }
}
