/* Navigation */

header {
  position: relative;
  z-index: 100;
  padding: 0 10%;
  height: 4em;
  overflow: hidden;
  background-color: $light-blue;
  position: relative;
  box-shadow: 0 2px 5px $dark;
}

#logo {
  float: left;
  @include vertical-align;
  a {
    font-size: 3.7em;
    color: $dark;
    outline: none;
  }
}

nav {
  float: right;
  @include vertical-align;
  .button {
    border: solid 2px $purple;
    &:hover {
      background-color: transparent;
    }
  }
  a {
    font-size: 2.5em;
    color: $dark;
    text-decoration: none;
    @include transition(color 0.3s ease-in-out);
    &:hover {
      color: $blue;
    }
    margin-right: 0.5em;
    &:last-child {
      margin-right: 0;
    }
  }
}

/* Alerts */

#alerts {
  .alert {
    @extend .clearfix;
    padding: 0.5em 10%;
    div {
      float: left;
      &:before {
        font-family: FontAwesome;
        margin-right: 0.5em;
      }
    }
    i {
      float: right;
      font-size: 1.5em;
      color: white;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .alert-success {
    background-color: $green;
    div:before { content: "\f058"; }
  }
  .alert-error {
    background-color: $red;
    div:before { content: "\f06a"; }
  }
  .alert-info {
    background-color: $blue;
    div:before { content: "\f05a"; }
  };
  .alert-warning {
    background-color: $yellow;
    div:before { content: "\f071"; }
  };
}

/* Content */

#main-content {
  @extend .clearfix;
  width: 100%;
  min-height: 100%;
  padding-top: 4em;
  margin-top: -4em;
  padding-bottom: 3em;
  margin-bottom: -3em;
}

/* Footer */

footer {
  @extend .clearfix;
  position: relative;
  z-index: 100;
  height: 3em;
  padding: 0 10%;
  background-color: $dark;
  color: white;
  #copyright {
    @include vertical-align;
    float: right;
  }
}
