.note-form {
  margin: 2em 10%;
  padding: 2em;
  background-color: $dark;
  @include border-radius(10px);
  text-align: center;
  textarea {
    word-wrap: break-word;
    resize: vertical;
  }
  input[type="submit"] {
    @include button($red);
    width: auto;
    padding: 0.5em 10%;
    margin-top: 1em;
  }
}

/* Responsiveness */

@media screen and (max-width: 500px) {
  .note-form {
    margin: 2em 3%;
    padding: 1.2em;
  }
}
