/* Create/Edit page */

.document-form {
  text-align: center;
  margin: 0.5em 15% 2em 15%;
  textarea, input[type="text"] {
    box-shadow: 0 0 25px transparentize($light, 0.2);
  }
  input[type="submit"] {
    @include button($red);
    width: auto;
    padding: 0.5em 10%;
    margin-top: 1em;
  }
}

/* Responsiveness */

@media screen and (max-width: 950px) {
  .document-form { margin-left: 10%; margin-right: 10%; }
}

@media screen and (max-width: 450px) {
  .document-form { margin-left: 5%; margin-right: 5%; }
}

/* Show page */

.document-container {
  margin-bottom: 2em;
  .title {
    padding: 0.5em 15%;
    background-color: $blue;
    color: $white;
    font-size: 1.3em;
    box-shadow: 0 2px 3px transparentize($midlight, 0.5);
  }
  .content {
    margin: 1em 15%;
    min-height: 15em;
  }
  .actions {
    @extend .clearfix;
    margin: 1em 15%;
    padding-top: 1em;
    .button-edit { @include button($red); }
    .button-share { @include button($light-blue) };
    .button-delete { @include button($midlight); }
    .left { float: left; }
    .right { float: right; }
  }
}

/* Responsiveness */

@media screen and (max-width: 950px) {
  .document-container {
    .title { padding-left: 10%; padding-right: 10%; }
    .content, .actions { margin-left: 10%; margin-right: 10%; }
  }
}

@media screen and (max-width: 450px) {
  .document-container {
    .title { padding-left: 5%; padding-right: 5%; }
    .content, .actions { margin-left: 5%; margin-right: 5%; }
  }
}

