<header class="clearfix">
  <div id="logo">
    <%= link_to root_path do %>
      <i class="fa fa-pencil-square-o"></i>
    <% end %>
  </div>
  <nav>
    <a href="#" class="button">Sign in</a>
  </nav>
</header>